/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f9;
    color: #333;
}

/* Login Page */
#login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background: #008cba;
}

/* Main Page */
header {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
.logo{
    padding: 15px;
    width: 500px;
    height: 150px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li {
    cursor: pointer;
    padding: 10px 20px;
    background: #4facfe;
    color: white;
    border-radius: 5px;
}

header nav ul li:hover {
    background: #008cba;
}

main {
    padding: 20px;
}

.chart-container {
    margin: 20px 0;
    max-width: 700px;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.chart-data {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}
